div {
  background: #157C70;
  width: fit-content;
  min-width: 320px;
  padding: 20px;
  border-radius: 10px;
}

div > div {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1.5px;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  color: white;
}
