input {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  border: none;
  width: 100%;
  padding: 10px;
  outline: none;
  margin-right: 20px;
}

.box {
  display: flex;
  justify-content: end;
}

#short {
  background: #2F4858;
  margin: 10px 0;
  padding: 10px;
  width: fit-content;
  border-radius: 8px;
  color: white;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 1.5px;
  cursor: pointer;
}

a {
  color: white;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 1.5px;
  text-decoration: none;
}

.box-url-copy {
  display: flex;
  align-items: center;
}

svg {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  cursor: pointer;
  color: white;
}
